extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/bnAlbums") 列表
				li.breadcrumb-item.active(aria-current="page") 图册详情
		.info
			.row
				.col-12 所属品牌: #{album.brand.nome}
			.row
				.col-12 图册名称: #{album.nome}
				.col-12 图册描述: #{album.desp}
				.col-12
					span 图册: 
					span
						a.text-warning(href=album.pdf, target="_blank")
							- let photo = '/upload/album/1.jpg';
							if album.photo
								- photo = album.photo;
							img(src=photo, width="100px")

		div(style="height: 200px")
		.del.text-right
			a.btn.btn-danger(href="/bnAlbumDel/"+album._id) 删除此图册