.border.border-dark.p-3
	.row.text-center
		.col-md-6
			h5.code 运输单号: #{tran.code}
			.trpAt.mt-2
				span 出发时间: 
				if tran.trpAt
					-a;
					span.text-warning#span-trpAt.objUpClick #{moment(tran.trpAt).format('YYYY-MM-DD')}
				else
					span.text-warning#span-trpAt.objUpClick 未设置
				form#form-trpAt(method="post", action="/fnTranUpdAjax", style="display:none")
					input(type="hidden", name="obj[_id]", value=tran._id)
					.form-group.row
						.col-4
						.col-4
							input#ipt-trpAt.datepicker.form-control(type="text", name="obj[trpAt]", readonly="readonly")
			.trpDay.mt-2
				- let trpDay = '未设置';
				if tran.trpDay
					- trpDay = tran.trpDay;
				span 船期: 
				span.text-warning.objUpClick#span-trpDay #{trpDay}
				input#org-trpDay.form-control(type="hidden", value=tran.trpDay)
				form#form-trpDay(method="post", action="/fnTranUpdAjax", style="display:none")
					input(type="hidden", name="obj[_id]", value=tran._id)
					.form-group.row
						.col-4
						.col-4
							input#ipt-trpDay.form-control(type="number", name="obj[trpDay]", value=tran.trpDay)
			.arrivAt.mt-2
				span 到岗时间: 
				if tran.arrivAt
					-a;
					span#span-arrivAt #{moment(tran.arrivAt).format('YYYY-MM-DD')}
				else
					span 未设置
		.col-md-6
			h5.nome
				span 集装箱编号: 
				- let nome = '未设置';
				if tran.nome
					- nome = tran.nome;
				span.text-warning.objUpClick#span-nome #{nome}
				input#org-nome.form-control(type="hidden", value=tran.nome)
				form#form-nome(method="post", action="/fnTranUpdAjax", style="display:none")
					input(type="hidden", name="obj[_id]", value=tran._id)
					.form-group.row
						.col-2
						.col-8
							input#ipt-nome.form-control(type="text", name="obj[nome]", value=tran.nome)
			.tran.mt-2
				span 物流负责人:
				if tran.lger
					- lger = tran.lger;
					span #{lger.nome} [ #{lger.code} ]
				else
					span 数据丢失
			.strmlg.mt-2 物流公司:
				if tran.strmlg
					- strmlg = tran.strmlg;
					span.text-info.objUpClick#strmlg-span #{strmlg.nome}[#{strmlg.code}]
				else
					span.text-info.objUpClick#strmlg-span 未分配
				if tran.status == Conf.status.init.num
					-a;
					form#strmlg-form(method="post", action="/fnTranUpd", enctype="multipart/form-data", style="display:none")
						input(type="hidden", name="obj[_id]", value=tran._id)
						.form-group.row.px-5.text-center
							.col-md-2
							.col-8.col-md-8
								select.objUpSel#tranNote-ipt.form-control(name="obj[strmlg]", data-style="btn-info")
									each strmlg in strmlgs
										-a;
										if !tran.strmlg
											-a;
											option(value=strmlg._id) #{strmlg.nome}[#{strmlg.code}]
										else if String(strmlg._id) == String(tran.strmlg._id)
											-a;
											option(value=strmlg._id, selected="selected") #{strmlg.nome}[#{strmlg.code}]
										else
											option(value=strmlg._id) #{strmlg.nome}[#{strmlg.code}]
							.col-4.col-md-2
								input.btn.btn-success(type="submit" value="提交")
			.status
				- let status = '';
				each sts in Conf.status
					- status = '';
					if sts.num == tran.status
						- status = sts.val;
						- break;
				span 状态: #{status}
			.excel.text-right
				a(href="/fnTranExcel/"+tran._id) Excel <span class="oi oi-data-transfer-download"></span>

	.statusChange.mt-3.text-center.row
		if tran.status == Conf.status.init.num
			-a;
			.col-6
				button.btn.btn-danger.delObjectBtn(type="button") 删除此单
				.delObject(style="display:none")
					a.mx-4.my-2.btn.btn-danger(href="/fnTranDel/"+tran._id) 确定
					button.mx-4.my-2.delObjectCancel.border.border-danger.text-danger.btn.btn-default(type="button") 取消
			.col-6
				if tran.compds && tran.compds.length > 0
					- a;
					button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+tran._id+"-customin", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.customin.num) 开始报关
		else if tran.status == Conf.status.customin.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+tran._id+"-init", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.init.num) 返回初始状态
			.col-6
				button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+tran._id+"-shipping", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.shipping.num) 完成报关
		else if tran.status == Conf.status.shipping.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+tran._id+"-customin", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.customin.num) 返回报关
			.col-6
				button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+tran._id+"-customut", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.customut.num) 开始清关
		else if tran.status == Conf.status.customut.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+tran._id+"-shipping", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.shipping.num) 返回海运
			.col-6
				button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+tran._id+"-done", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.done.num) 运输完成
		else if tran.status == Conf.status.done.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+tran._id+"-customut", type="button", data-url="/usTranStatusAjax", data-id=tran._id, data-stsf=tran.status, data-stst=Conf.status.customut.num) 返回清关
			.col-6

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
//- <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
//- timepicker
link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

script(src="/js/user/fner/tran/detail/basicInfo.js")
script(src="/js/user/ajaxChange/status.js")