- let object = new Object();
- let point = null;
if inquot
	- object = inquot, point = "inquot";
else if din
	- object = din, point = "ordin";
else if dut
	- object = dut, point = "ordin";
input#point(type="hidden", value=point)
input#objectId(type="hidden", value=object._id)
if point
	-a;
	div(style="height:50px")

	h3 留言区
	#notifyNew
		form#notifyForm(method="POST", action="/usNotifyNewAjax")
			input#reUserId(type="hidden", name="obj[to]", value=toUser._id)
			input(type="hidden", name="obj[" + point + "]", value=object._id)
			if crUser
				-a;
				input(type="hidden", name="obj[from]", value=crUser._id)
			.form-group.row
				.col-12
					textarea.form-control#contentIpt(name="obj[content]",rows="5", placeholder="发表留言或者提出问题")
			.form-group.row
				.col-12.text-right
					button.btn.btn-primary#notifySubmitBtn(type='button') 发表
	hr
	#notifys
		input#notifyFilterAjax(type="hidden", value="/usNotifysAjax?"+point+"="+object._id+"@#notifysElem@us")
		#notifysElem.mt-4

	script(src="/js/dbs/notify/list.js")
	script(src="/js/dbs/notify/add.js")
	script(src="/js/dbs/notify/option.js")
else
	h3 评论区出现错误, 请联系技术人员