extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/pmSells") 列表
				li.breadcrumb-item.active(aria-current="page") 添加客户折扣
		form#sellAddForm(method="post", action="/pmSellNew", enctype="multipart/form-data")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="strmdwIpt") 客户
				.col-8.col-sm-10.strmdw
					select.form-control#strmdwIpt(name="obj[strmdw]", data-style="btn-info")
						option(value="") 请选择客户
						each strmdw in strmdws
							-a;
							option(value=strmdw._id) #{strmdw.nome}
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="brandIpt") 品牌
				.col-8.col-sm-10.brand
					select.form-control#brandIpt(name="obj[brand]", data-style="btn-info")
						option(value="") 请选择品牌
						each brand in brands
							-a;
							option(value=brand._id) #{brand.nome}
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="discountIpt") 折扣
				.col-8.col-sm-10
					input#discountIpt.form-control(type="text", name="obj[discount]")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="noteIpt") 备注
				.col-8.col-sm-10
					input#noteIpt.form-control(type="text", name="obj[note]")
			hr
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="shelfIpt") 上下架
				.col-8.col-sm-4
					select#shelfIpt.form-control(name="obj[shelf]", data-style="btn-info")
						each key in Object.keys(Conf.shelf)
							if key == crUser.shelf
								-a;
								option(value=key, selected="selected") #{Conf.shelf[key]}
							else
								option(value=key) #{Conf.shelf[key]}
				label.col-4.col-sm-2.text-right.col-form-label(for="weightIpt") 权重
				.col-8.col-sm-4
					input#weightIpt.form-control(type="number", name="obj[weight]", value=0)
			hr
			.form-group.row
				.col-12.text-right
					input.btn.btn-success(type="submit", value="添加")
	script(src="/js/user/pmer/sell/edit.js")