extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/pmSell/"+sell._id) 详情
				li.breadcrumb-item.active(aria-current="page") 客户折扣更新
		form#sellUpdForm(method="post", action="/pmSellUpd", enctype="multipart/form-data")
			input(type="hidden", name="obj[_id]", value=sell._id)
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="discountIpt") 折扣
				.col-8.col-sm-10
					input#discountIpt.form-control(type="text", name="obj[discount]", value=sell.discount)
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="noteIpt") 备注
				.col-8.col-sm-10
					input#noteIpt.form-control(type="text", name="obj[note]", value=sell.note)
			hr
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="shelfIpt") 上下架
				.col-8.col-sm-4
					select#shelfIpt.form-control(name="obj[shelf]", data-style="btn-info")
						each key in Object.keys(Conf.shelf)
							if key == sell.shelf
								-a;
								option(value=key, selected="selected") #{Conf.shelf[key]}
							else
								option(value=key) #{Conf.shelf[key]}
				label.col-4.col-sm-2.text-right.col-form-label(for="weightIpt") 权重
				.col-8.col-sm-4
					input#weightIpt.form-control(type="number", name="obj[weight]", value=0)
			hr
			.form-group.row
				.col-12.text-right
					input.btn.btn-success(type="submit", value="提交")
	script(src="/js/user/pmer/sell/edit.js")