- let quantTotal = 0;
table.mt-3.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th 工艺面料
		th(style="width:10%") 数量
	thead
		each tranpd in tranpds
			- quantTotal += tranpd.quant;
			tr.text-info(id="tr-compdid-"+tranpd._id)
				td
					.ordut.text-left
						.text-dark 所属采购单:
						a(href='/lgDut/'+tranpd.ordut._id, title=tranpd.ordut.compds.length) #{tranpd.ordut.code}
					.pdnum.mt-3.text-left.text-dark 商品编号: [#{tranpd.pdnum}]
					.brandnome.mt-4
						if tranpd.brand
							- brand = tranpd.brand;
							span [#{brand.nome}]
						else
							span 品牌数据丢失

					if tranpd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{tranpd.area}
				td
					.pdnome
						span.text-dark 品类: 
						span #{tranpd.pdNome}
					if tranpd.pdfir
						- pdfir = tranpd.pdfir;
						.pdfircode.mt-3
							span.text-dark 系列名: 
							span [#{pdfir.code}]
					else
						- let firNome = '产品系列名称';
						if tranpd.firNome
							- firNome = tranpd.firNome;
						.firnome.mt-3
							span.text-dark 系列名: 
							span #{firNome}
					.photo.mt-3
						- let photo = "/imgs/createPicture.jpg";
						if tranpd.photo
							- photo = tranpd.photo;
							img.thumbnailImg(src=photo, width="120px")
						else if tranpd.firphoto
							- photo = tranpd.firphoto;
							img.thumbnailImg(src=photo, width="120px")
						else
							img(src=photo, width="120px")
				td
					if tranpd.pdsec
						- pdsec = tranpd.pdsec;
						.pdseccode
							span.text-dark 产品编码: 
							span [#{pdsec.code}]
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span [#{pdsec.spec}]
					else
						.pdseccode
							span.text-dark 产品编码: 
							span #{tranpd.secNome}
						.pdsecspec.mt-3
							span.text-dark 产品尺寸: 
							span #{tranpd.specf}

					.sketch.mt-3
						- let sketch = "/imgs/createPicture.jpg";
						if tranpd.sketch
							- sketch = tranpd.sketch;
							img.thumbnailImg(src=sketch, width="120px")
						else if tranpd.pdsec
							-a;
							- sketch = tranpd.pdsec.photo;
							img.thumbnailImg(src=sketch, width="120px")
						else
							img(src=sketch, width="120px")
				td
					- let pdthdcode = '查找数据库';
					if tranpd.pdthd
						- pdthdcode = '['+tranpd.pdthd.code+']';
					.pdthdcode #{pdthdcode}
					.pdmater.mt-3 #{tranpd.mater}
					.pdcraft.mt-3 #{tranpd.craft}
					.images
						- let subsp = -1;
						each image in tranpd.images
							- subsp++;
							if image && image.length > 5
								-a;
								img.thumbnailImg.mt-2(src=image, width="120px")
				td
					.quant
						span.text-dark 数量: 
						span #{tranpd.quant}
					if tran.status == Conf.status.init.num
						-a;
						.del.mt-5
							button.btn.border-danger.text-danger.delObjpdBtn(id="delObjpdBtn-"+tranpd._id, type="button") 取消此商品
							.delObjpd(id="delObjpd-"+tranpd._id, style="display:none")
								a.mx-4.my-2.btn.btn-danger(href="/lgTranpdCel/"+tranpd._id) 确定
								button.mx-4.my-2.delObjpdCancel.border.border-danger.text-danger.btn.btn-default(id="delObjpdCancel-"+tranpd._id, type="button") 取消
.hideImp
	input#ipt-quantTotal(type="hidden", value=quantTotal)

script(src="/js/user/lger/tran/compdEdit.js")