extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/lgStrmlgs") 列表
				li.breadcrumb-item.active(aria-current="page") 运输公司: #{strmlg.code}
		.row
			.col-10
				h3.nome #{strmlg.nome}
			.col-2
				a.btn.btn-warning(href="/lgStrmlgUp/"+strmlg._id) 更新
		.info.row.mt-3
			.col-12
				.note #{strmlg.note}
				.resp #{strmlg.resp}
				.tel #{strmlg.tel}
				.email #{strmlg.email}
				.addr #{strmlg.addr}
				.country #{strmlg.country}