if !action
	-a;
	.text-danger 请联系管理员, compd/ajax/dutPrAjax.pug, action Error!
else if !inquot
	-a;
	.text-danger 请联系管理员, compd/ajax/dutPrAjax.pug, inquot Error!
else if !compd
	-a;
	.text-danger 请联系管理员, compd/ajax/dutPrAjax.pug, compd Error!
else if !len
	-a;
	.text-danger 请联系管理员, compd/ajax/dutPrAjax.pug, len Error!
else
	span.text-dark 采购单价:
	if compd.dutPr && !isNaN(compd.dutPr)
		- a;
		span.text-warning.dutPrClickup(id="span-dutPr-"+compd._id) #{(compd.dutPr).toFixed(2)}
		span &nbsp;€
	else
		span.text-warning.dutPrClickup(id="span-dutPr-"+compd._id) 未报价
		span &nbsp;€
	if inquot.status == Conf.status.pricing.num
		-a;
		input(id="org-dutPr-"+compd._id, type="hidden", value=compd.dutPr)
		form.ajaxForm(id="form-dutPr-"+compd._id, action=action, style="display:none")
			input(type="hidden", name="obj[_id]", value=compd._id)
			.form-group.row
				.col-12
					input.dutPrBlurup.form-control(id="ipt-dutPr-"+compd._id, type="text", name="obj[dutPr]", placeholder="填写采购价格", autocomplete="off", value=compd.dutPr)

if len == 1
	-a;
	script(src="/js/dbs/compd/independ/dutPrAjax.js")