if !action
	-a;
	.text-danger 请联系管理员, compd/ajax/estimateAjax.pug, action Error!
else if !compd
	-a;
	.text-danger 请联系管理员, compd/ajax/estimateAjax.pug, compd Error!
else if !len
	-a;
	.text-danger 请联系管理员, compd/ajax/estimateAjax.pug, len Error!
else
	span.text-dark 预估单价:
	if compd.estimate
		- a;
		span.text-warning.clickup(id="span-estimate-"+compd._id) #{compd.estimate}
	else
		span.text-warning.clickup(id="span-estimate-"+compd._id) 未预估
	if inquot.status == Conf.status.quoting.num
		-a;
		input(id="org-estimate-"+compd._id, type="hidden", value=compd.estimate)
		form.ajaxForm(id="form-estimate-"+compd._id, action=action, style="display:none")
			input(type="hidden", name="obj[_id]", value=compd._id)
			.form-group.row
				.col-12
					input.blurup.form-control(id="ipt-estimate-"+compd._id, type="text", name="obj[estimate]", placeholder="预估单价可以是范围", autocomplete="off", value=compd.estimate)

if len == 1
	-a;
	script(src="/js/dbs/compd/independ/estimateAjax.js")