if !reUrl
	-a;
	.text-danger 请联系管理员, compd/upd/imagesUpd.pug, reUrl Error!
else if !compd
	-a;
	.text-danger 请联系管理员, compd/upd/imagesUpd.pug, compd Error!
else
	.row
		- let subsp = -1;
		each image in compd.images
			- subsp++;
			if image && image.length > 5
				-a;
				.col-6
					img.thumbnailImg.mt-2(src=image, width="80px")
					form(method="post", action="/compdDelPic", enctype="multipart/form-data")
						input(type="hidden", name="reUrl", value=reUrl)
						input(type="hidden", name="compdId", value=compd._id)
						input(type="hidden", name="picField", value="images")
						input(type="hidden", name="subsp", value=subsp)
						button.btn.btn-link.text-danger(type="submit") <span class="oi oi-trash"></span>
	.imagesEdit.text-right
		a.text-info(href="#thdPdPicUp-"+compd._id data-toggle="modal") [修改材质图片]

	.modal.fade(id="thdPdPicUp-"+compd._id)
		.modal-dialog
			.modal-content
				form(method="post", action="/compdImagesUpd", enctype="multipart/form-data")
					.modal-header 修改材质图片
					.modal-body
						input(type="hidden", name="obj[_id]", value=compd._id)
						input(type="hidden", name="picDir", value=Conf.picPath.compd)
						input(type="hidden", name="picName", value=crUser.firm.code)
						input(type="hidden", name="reUrl", value=reUrl)
						- let images = new Array();
						if compd.images
							- images = compd.images;
						.mt-3(align="center")
							- let images0 = "";
							if images.length > 0 && images[0]
								- images0 = images[0];
							img(id="img-images0-"+compd._id, src=images0, width="240px")
							.changeImg.text-info(id="imgEdit-images0-"+compd._id) <span class="oi oi-pencil"></span>[点击]
							input(type="hidden", name="obj[images][0]", value=compd.images[0])
							input.picIpt.btn.btn-info.btn-block(id="ipt-images0-"+compd._id, type="file", name="images[0]", style="display:none")
						.mt-3(align="center")
							- let images1 = "";
							if images.length > 1 && images[1]
								- images1 = images[1];
							img(id="img-images1-"+compd._id, src=images1, width="240px")
							.changeImg.text-info(id="imgEdit-images1-"+compd._id) <span class="oi oi-pencil"></span>[点击]
							input(type="hidden", name="obj[images][1]", value=compd.images[1])
							input.picIpt.btn.btn-info.btn-block(id="ipt-images1-"+compd._id, type="file", name="images[1]", style="display:none")
						.mt-3(align="center")
							- let images2 = "";
							if images.length > 2 && images[2]
								- images2 = images[2];
							img(id="img-images2-"+compd._id, src=images2, width="240px")
							.changeImg.text-info(id="imgEdit-images2-"+compd._id) <span class="oi oi-pencil"></span>[点击]
							input(type="hidden", name="obj[images][2]", value=compd.images[2])
							input.picIpt.btn.btn-info.btn-block(id="ipt-images2-"+compd._id, type="file", name="images[2]", style="display:none")
						.mt-3(align="center")
							- let images3 = "";
							if images.length > 3 && images[3]
								- images3 = images[3];
							img(id="img-images3-"+compd._id, src=images3, width="240px")
							.changeImg.text-info(id="imgEdit-images3-"+compd._id) <span class="oi oi-pencil"></span>[点击]
							input(type="hidden", name="obj[images][3]", value=compd.images[3])
							input.picIpt.btn.btn-info.btn-block(id="ipt-images3-"+compd._id, type="file", name="images[3]", style="display:none")
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal")  取消
						button.btn.btn-success(type="submit")  修改