.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.noprint
	a.navbar-brand.btn.btn-success(href="/") <span class="oi oi-home"></span>
	if crUser
		-a;
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
			<span class="navbar-toggler-icon"></span>

		.collapse.navbar-collapse#navbarTogglerDemo02
			ul.navbar-nav.mr-auto.mt-2.mt-xl-0
				if crUser.role == Conf.roleUser.brander.num
					-a;
					li.nav-item.active
						a.nav-link(href="/bnBrands") 品牌
					li.nav-item.active
						a.nav-link(href="/bnPdfirs") 系列
					li.nav-item.active
						a.nav-link(href="/bnPdsecs") 线稿图
				if crUser.role == Conf.roleUser.order.num
					-a;
					li.nav-item.active
						a.nav-link(href="/odQuts") 报价管理
					li.nav-item.active
						a.nav-link(href="/odDins") 销售单
					li.nav-item.active
						a.nav-link(href="/odDuts") 采购单
				if crUser.role == Conf.roleUser.manager.num || crUser.role == Conf.roleUser.boss.num
					-a;
					li.nav-item.active
						a.nav-link(href="/users") 成员
					li.nav-item.active
						a.nav-link(href="/usFirm") 公司
				li.nav-item.active
					.notifyHeaderBtn.btn-group(role="group" aria-label="Button group with nested dropdown")
						.btn-group(role="group")
							button(id="whereNotify" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								span#notifyHeader.badge.badge-light.text-danger
							.dropdown-menu#whereNotifys(aria-labelledby="whereNotify")
					input#crUserId(type="hidden", value=crUser._id)
					input#crUserRole(type="hidden", value=crUser.role)
			ul.navbar-nav
				li
					a(href="/usFirm")
						span.navbar-brand [#{crUser.firm.code}]: 
					a(href="/user/"+crUser._id)
						span.navbar-brand
							if crUser.nome
								-a;
								strong #{crUser.nome}
							else
								strong #{crUser.code}
				li
					a.ml-4.btn.btn-danger(href="/logout") <span class="oi oi-account-logout"></span>
#outerdiv(style="position:fixed;top:0;left:0;background:rgba(255,255,255,0.9);z-index:2;width:100%;height:100%;display:none;")
	#innerdiv(style="position:absolute;")
		img#zoomImg(style="border:1px solid #000;" src="")