.border.border-dark.p-3
	.row.text-center
		.col-md-6
			h5.code 订单号:#{din.code}
			.crtAt.mt-2
				span 下单时间: 
				span#span-crtAt.objUpDblclick #{moment(din.crtAt).format('YYYY-MM-DD')}
				form#form-crtAt(method="post", action="/sfDinUpdAjax", style="display:none")
					input(type="hidden", name="obj[_id]", value=din._id)
					.form-group.row
						.col-4
						.col-4
							input#ipt-crtAt.datepicker.form-control(type="text", name="obj[crtAt]", readonly="readonly")
			.dinDay.mt-2
				- let dinDay = Conf.dinDay;
				if din.dinDay
					- dinDay = din.dinDay;
				span.mr-1 货期: (收款后)
				span.text-warning.objUpClick#span-dinDay #{dinDay}
				span.ml-1 天
				input#org-dinDay.form-control(type="hidden", value=din.dinDay)
				form.ajaxForm#form-dinDay(method="post", action="/sfDinUpdAjax", style="display:none")
					input(type="hidden", name="obj[_id]", value=din._id)
					.form-group.row
						.col-4
						.col-4
							input#ipt-dinDay.form-control(type="number", name="obj[dinDay]", value=din.dinDay)
			if din.bills && din.bills.length > 0
				-a;
				.billAt.mt-2
					span 收款日期: 
					span#span-billAt.objUpDblclick #{moment(din.billAt).format('YYYY-MM-DD')}
					form#form-billAt(method="post", action="/sfDinUpdAjax", style="display:none")
						input(type="hidden", name="obj[_id]", value=din._id)
						.form-group.row
							.col-4
							.col-4
								input#ipt-billAt.datepicker.form-control(type="text", name="obj[billAt]", readonly="readonly")
				if din.dinAt
					-a;
					span 截止日期: 
					span#span-dinAt #{moment(din.dinAt).format('YYYY-MM-DD')}
			.din.mt-2
				span 销售员:
				if din.seller
					- seller = din.seller;
					span #{seller.nome} [ #{seller.code} ]
				else
					span 数据丢失
		.col-md-6
			.cterNome 客户姓名 #{din.cterNome}
			.cter 客户:
				if din.cter
					- cter = din.cter;
					span.text-warning.objUpClick#span-cter #{cter.nome} [#{cter.code}]
				else
					span.text-warning.objUpClick#span-cter 未分配
				form#form-cter(method="post", action="/sfDinUpd", enctype="multipart/form-data", style="display:none")
					input(type="hidden", name="obj[_id]", value=din._id)
					.form-group.row.px-5.text-center
						.col-8
							select.inquotUpSel#dinNote-ipt.form-control(name="obj[cter]", data-style="btn-info")
								option(value='null') 请选择客户
								each cter in cters
									-a;
									if !din.cter
										-a;
										option(value=cter._id) #{cter.nome}[#{cter.code}]
									else if String(cter._id) == String(din.cter._id)
										-a;
										option(value=cter._id, selected="selected") #{cter.nome}[#{cter.code}]
									else
										option(value=cter._id) #{cter.nome}[#{cter.code}]
						.col-4
							input.btn.btn-success(type="submit" value="提交")
			.quantTotal
				span 总数量: 
				span#span-quantTotal
			h5.imp.text-info 合同价: #{(din.dinImp).toFixed(2)} €
			.status.mt-3
				- let status = '';
				each sts in Conf.status
					- status = '';
					if sts.num == din.status
						- status = sts.val;
						- break;
				span 状态: #{status}
			.excel.text-right
				a(href="/slDinExcel/"+din._id) Excel <span class="oi oi-data-transfer-download"></span>
	.statusChange.mt-3.text-center.row
		if din.status == Conf.status.unpaid.num
			-a;
			.col-6
				if !din.bills || din.bills.length == 0
					-a;
					button.btn.btn-danger.delObjectBtn(type="button") 重新处理
					.delObject(style="display:none")
						a.mx-4.my-2.btn.btn-danger(href="/sfDinDel/"+din._id) 确定
						button.mx-4.my-2.delObjectCancel.border.border-danger.text-danger.btn.btn-default(type="button") 取消
			.col-6
				if din.bills && din.bills.length > 0
					- a;
					button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+din._id+"-deposit", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.deposit.num) 开始生产
		else if din.status == Conf.status.deposit.num
			-a;
			.col-6
				if din.bills.length == 0
					-a;
					button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+din._id+"-unpaid", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.unpaid.num) 返回未付款
			.col-6
				button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+din._id+"-payoff", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.payoff.num) 已收到全款
		else if din.status == Conf.status.payoff.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+din._id+"-deposit", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.deposit.num) 返回未付清
			.col-6
				button.btn.btn-warning.changeStsAjax(id="changeStsAjax-"+din._id+"-done", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.done.num) 订单完成
		else if din.status == Conf.status.done.num
			-a;
			.col-6
				button.btn.border-danger.text-danger.changeStsAjax(id="changeStsAjax-"+din._id+"-payoff", type="button", data-url="/usOrdinStatusAjax", data-id=din._id, data-stsf=din.status, data-stst=Conf.status.payoff.num) 返回发货
			.col-6

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
//- <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
//- timepicker
link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
script(src="/libs/jt.timepicker/jquery.timepicker.min.js")

script(src="/js/dbs/compd/total.js")
script(src="/js/user/sfer/din/detail.js")
script(src="/js/user/ajaxChange/status.js")