extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/slQun/"+compd.inquot._id) 询价单
				li.breadcrumb-item.active(aria-current="page") 更新询价商品
		.delObj.text-right
			if compd.inquot.status == Conf.status.init.num
				-a;
				a.btn.btn-danger(href="/slQunpdDel/"+compd._id) 删除此询价商品
			else if compd.inquot.status == Conf.status.quoting.num && compd.qntpdSts == Conf.status.del.num
				-a;
				a.btn.btn-danger(href="/slQunpdDel/"+compd._id) 删除此询价商品
		hr

		form#objectForm(method="post", action="/slQunpdUpd", enctype="multipart/form-data")
			input#inquotIpt(type="hidden", name="obj[_id]", value=compd._id)

			input(type="hidden", name="picDir", value=Conf.picPath.compd)
			input#picName(type="hidden", name="picName", value=crUser.firm.code)

			- let brand = new Object();
			if compd.brand
				- brand = compd.brand;
			.row.my-3
				.col-md-2.mt-3.text-right 品牌信息:
				.col-md-3.mt-3
					input.form-control#brandIpt(type="hidden", name="obj[brand]", readonly="readonly", value=brand._id)
					input.border-danger.form-control#brandNomeIpt(type="text", name="obj[brandNome]", autocomplete="off", placeholder="* 填写品牌名", value=compd.brandNome)
				.col-md-3.mt-3
					input.form-control#areaIpt(type="text", name="obj[area]", autocomplete="off", placeholder="区域: 卧室/客厅...", value=compd.area)
				.col-md-3.mt-3#brandweb
					if brand.website
						- let website = brand.website;
						if website && website.slice(0,4) != 'http'
							- website = 'http://'+website;
						.brandweb
							a(href=website target="_blank") #{brand.nome}官网
			input#brandFilterAjax(type="hidden", value="/usBrandsAjax?shelf=1&shelf=2@#brandsElem@sl")
			.ajax#brandsElem

			- let pdfir = new Object();
			if compd.pdfir
				- pdfir = compd.pdfir;
			.row.my-3
				.col-md-2.mt-3.text-right 系列信息:
				.col-md-3.mt-3
					input.border-danger.form-control#pdNomeIpt(type="text", name="obj[pdNome]", autocomplete="off", placeholder="品类: 桌子/椅子/床...", value=compd.pdNome)
				.col-md-3.mt-3
					input.form-control#pdfirIpt(type="hidden", name="obj[pdfir]", readonly="readonly", value=pdfir._id)
					input.border-danger.form-control#firNomeIpt(type="text", name="obj[firNome]", autocomplete="off", placeholder="* 系列名称", value=compd.firNome)
			input#pdfirFilterAjax(type="hidden", value="/usPdfirsAjax?@#pdfirsElem@sl")
			.ajax#pdfirsElem
			.row.my-3
				.col-md-2.mt-3.text-right 产品图片:
				.col-md-3.mt-3(align="center")
					div 上传指定产品图:
					- let photo = "";
					if compd.photo
						- photo = compd.photo;
					img.thumbnailImg#img-photo(src=photo, width="120px")
					.changeImg#imgEdit-photo.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[photoOld]", value=compd.photo)
					input.picIpt#ipt-photo.btn.btn-info.btn-block(type="file", name="photo", style="display:none")
				.col-md-3.mt-4#firImg(align="center")
					if compd.firphoto
						-a;
						.firImg.text-right
							img.thumbnailImg(src=compd.firphoto, width="120px")
				.col-md-4.text-center.border-left
					input.form-control#firphotoIpt(type="hidden", name="obj[firphoto]", readonly="readonly", value=compd.firphoto)
					button#selPhotos.btn.btn-link(type="button") 选择其他图片
					#firImgs(style="display:none")
						.firImgs.row.text-right
							- let selphoto = pdfir.photo;
							if selphoto && selphoto.length > 4
								- a;
								.col-6.mt-2.text-center
									img.thumbnailImg(id="thumbnailImg-hlt-i-hlt-"+selphoto src=selphoto, width="120px")
									.photoSel.text-info(id="photoSel-hlt-i-hlt-"+selphoto) <span class="oi oi-check"></span>
							if pdfir.photos && pdfir.photos.length > 0
								- let i = -1;
								each selphoto in pdfir.photos
									- i++;
									if selphoto && selphoto.length > 4
										-a;
										.col-6.mt-2.text-center
											img.thumbnailImg(id="thumbnailImg-hlt-i-hlt-"+selphoto src=selphoto, width="120px")
											.photoSel.text-info(id="photoSel-hlt-i-hlt-"+selphoto) <span class="oi oi-check"></span>
			- let pdsec = new Object();
			if compd.pdsec
				- pdsec = compd.pdsec;
			.row.my-3
				.col-md-2.mt-3.text-right 产品规格:
				.col-md-3.mt-3
					input.border-danger.form-control#specfIpt(type="text", name="obj[specf]", autocomplete="off", placeholder="* 尺寸: 长*宽*高", value=compd.specf)
				.col-md-3.mt-3
					input.form-control#pdsecIpt(type="hidden", name="obj[pdsec]", readonly="readonly", value=pdsec._id)
					input.border-info.form-control#secNomeIpt(type="text", name="obj[secNome]", autocomplete="off", placeholder="产品编号(如有)", value=compd.secNome)
			input#pdsecFilterAjax(type="hidden", value="/usPdsecsAjax?@#pdsecsElem@sl")
			.ajax#pdsecsElem
			.row.my-3
				.col-md-2.mt-3.text-right 线稿图:
				.col-md-3.mt-3(align="center")
					div 上传指定线稿图:
					- let sketch = "";
					if compd.sketch
						- sketch = compd.sketch;
					img.thumbnailImg#img-sketch(src=sketch, width="120px")
					.changeImg#imgEdit-sketch.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[sketchOld]", value=compd.sketch)
					input.picIpt#ipt-sketch.btn.btn-info.btn-block(type="file", name="sketch", style="display:none")
				.col-md-3.mt-4#secImg(align="center")
					if pdsec.photo && pdsec.photo.length > 0
						-a;
						.secImg.text-right
							img.thumbnailImg(src=pdsec.photo, width="120px")

			- let pdthd = new Object();
			if compd.pdthd
				- pdthd = compd.pdthd;
			.row.my-3
				.col-md-2.mt-3.text-right 材质工艺:
				.col-md-3.mt-3
					input.border-danger.form-control#materIpt(type="text", name="obj[mater]", autocomplete="off", placeholder="* 填写/材质", value=compd.mater)
				.col-md-3.mt-3
					input.border-danger.form-control#craftIpt(type="text", name="obj[craft]", autocomplete="off", placeholder="* 填写/工艺,面料,颜色", value=compd.craft)
				.col-md-3.mt-3
					input.form-control#pdthdIpt(type="hidden", name="obj[pdthd]", readonly="readonly", value=pdthd._id)
					input.border-info.form-control#thdNomeIpt(type="text", name="obj[thdNome]", autocomplete="off", placeholder="平台工艺搭配(帮助选项)", value=compd.thdNome)
			input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?@#pdthdsElem@priceno")
			.ajax#pdthdsElem
			.row.my-3
				.col-md-2.mt-3.pt-5.text-right 材质图片:
				- let images = new Array();
				if compd.images
					- images = compd.images;
				.col-md-2.mt-3(align="center")
					- let images0 = "";
					if images.length > 0 && images[0]
						- images0 = images[0];
					img.thumbnailImg#img-images0(src=images0, width="120px")
					.changeImg#imgEdit-images0.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[images][0]", value=compd.images[0])
					input.picIpt#ipt-images0.btn.btn-info.btn-block(type="file", name="images[0]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images1 = "";
					if images.length > 1 && images[1]
						- images1 = images[1];
					img.thumbnailImg#img-images1(src=images1, width="120px")
					.changeImg#imgEdit-images1.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[images][1]", value=compd.images[1])
					input.picIpt#ipt-images1.btn.btn-info.btn-block(type="file", name="images[1]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images2 = "";
					if images.length > 2 && images[2]
						- images2 = images[2];
					img.thumbnailImg#img-images2(src=images2, width="120px")
					.changeImg#imgEdit-images2.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[images][2]", value=compd.images[2])
					input.picIpt#ipt-images2.btn.btn-info.btn-block(type="file", name="images[2]", style="display:none")
				.col-md-2.mt-3(align="center")
					- let images3 = "";
					if images.length > 3 && images[3]
						- images3 = images[3];
					img.thumbnailImg#img-images3(src=images3, width="120px")
					.changeImg#imgEdit-images3.text-info <span class="oi oi-pencil"></span>[点击]
					input(type="hidden", name="obj[images][3]", value=compd.images[3])
					input.picIpt#ipt-images3.btn.btn-info.btn-block(type="file", name="images[3]", style="display:none")

			.row.my-3
				.col-md-2.mt-3.text-right 备注:
				.col-md-10.mt-3
					input.form-control#noteIpt(type="text", name="obj[note]", autocomplete="off", placeholder="若面料工艺信息不全可备注为按高/中/低任一等级范围报价或提供其他关键询价信息", value=compd.note)
			.form-group.row.mt-5
				.col-12.text-right
					a.border.border-danger.mr-4.btn.btn-default.text-danger#compdsPageShow(href="/slQun/"+compd.inquot._id) 取消
					input.btn.btn-success(type="submit", value="保存修改")

	script(src="/js/user/sler/qun/compdEdit.js")
	script(src="/js/dbs/compd/comGetPd.js")