extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/pmProjects") 列表
				li.breadcrumb-item: a(href="/pmArticle/"+article._id) 项目详情
				li.breadcrumb-item.active(aria-current="page") 项目更新
		.title
			.row
				.col-9.text-muted.mt-2: h5
					a(href="/") Home
					span &nbsp; | &nbsp;
					span #{title}
				.col-3.text-right
					a.btn.btn-secondary(href="/pmProjects") 取消
		.info
			- var photo = article.photo;
			if !photo
				- photo = Conf.picDefault.article;
			form#addForm(method="post", action="/pmArticleUpd", enctype="multipart/form-data")
				input(type="hidden", name="obj[_id]", value=article._id)
				input(type="hidden", name="obj[categ]", value=Conf.article.project.num)

				input(type="hidden", name="picDir", value=Conf.picPath.article)
				input#picName(type="hidden", name="picName", value=Conf.article.project.num)
				.row
					.col-12(align="center")
						img#crtImg(src=photo, width="200px")
				.form-group.row.udPhoto(style="display:none")
					label.col-4.col-form-label(for="picUpload") PdImg
					.col-8
						input#picUpload.btn.btn-info.btn-block(type="file", name="picUpload")
				.form-group.row
					label.col-4.col-sm-2.col-form-label(for="photoIpt") 项目图片
					.col-8.col-sm-10
						input#photoIpt.form-control(type="text", name="obj[photo]", autocomplete="off", value=article.photo)
				hr
				.form-group.row
					label.col-4.col-sm-2.col-form-label(for="titleIpt") 项目标题
					.col-8.col-sm-10
						input#titleIpt.form-control(type="text", name="obj[title]", autocomplete="off", value=article.title)
				.form-group.row
					label.col-4.col-sm-2.col-form-label(for="despIpt") 简要描述
					.col-8.col-sm-10
						input#despData(type="hidden", value=article.desp)
						textarea#despIpt.form-control(type="text", rows="4", name="obj[desp]", placeholder="简要描述")
				.form-group.row
					label.col-4.col-sm-2.col-form-label(for="contentIpt") 项目内容
					.col-8.col-sm-10
						input#contentData(type="hidden", value=article.content)
						textarea#contentIpt.form-control(type="text", rows="10", name="obj[content]", placeholder="项目内容")
				hr
				each i in [0, 1, 2, 3, 4, 5]
					- let photoi = '';
					if article.photos && article.photos.length > i
						- photoi = article.photos[i];
					if photoi.length > 0
						-a;
						.form-group.row
							.col-4.col-sm-2
							.col-8.col-sm-6
								img(src=photoi, width="160px", height="100px")
					.form-group.row
						label.col-4.col-sm-2.col-form-label(for="photosIpt") 子图片[#{i+1}]
						.col-8.col-sm-6
							input#photosIpt.form-control(type="text", name="obj[photos]["+i+"]", value=article.photos[i])
				.form-group.row
					.col-12.text-right
						input.btn.btn-success(type="submit" value="提交")
	script(src="/js/user/pmer/article/edit.js")