.border.border-dark.p-3
	.row.text-center
		.col-md-6
			h5.code 报价单号: #{inquot.code}

			.time
				span 询价时间: 
				span #{moment(inquot.crtAt).format('YYYY年MM月DD日')}
			.inquot 
				span 询价人:
				if inquot.quner
					- quner = inquot.quner;
					span #{quner.nome} [ #{quner.code} ]
				else
					span 数据丢失
		.col-md-6
			.inquoter
				span 报价人:
				if inquot.inquoter
					- inquoter = inquot.inquoter;
					span #{inquoter.nome} [ #{inquoter.code} ]
				else
					span.text-warning 未分配
			.status.mt-3
				- var status = '';
				each sts in Conf.status
					- status = '';
					if sts.num == inquot.status
						- status = sts.val;
						- break;
				span.p-2.text-danger 状态: #{status}
	if inquot.status == Conf.status.quoting.num
		- a;
		.statusChange.text-center.mt-3.row
			if inquot.compds.length == 0
				- a;
				.col-6
				.col-6
					span.p-2.border.border-danger 赞无询价商品
			else if inquot.quterSt == Conf.status.init.num
				- a;
				.col-6
				.col-6
					span.quotingSpan.p-2.border.border-danger 请完成所有商品报价
					button.btn.btn-warning.changeStsAjax.quotingBtn(id="changeStsAjax-"+inquot._id+"-done", type="button", data-url="/usInquotQuterStAjax", data-id=inquot._id, data-stsf=inquot.status, data-stst=Conf.status.done.num, style="display:none") [初步报价] 完成
			else
				.col-6
				.col-3
					span.p-2.border.border-success 已经完成
				.col-3
					button.btn.border-danger.text-danger.changeStsAjax.quotingBtn(id="changeStsAjax-"+inquot._id+"-done", type="button", data-url="/usInquotQuterStAjax", data-id=inquot._id, data-stsf=inquot.status, data-stst=Conf.status.init.num, style="display:none") 返回未完成
script(src="/js/user/ajaxChange/status.js")
script(src="/js/dbs/compd/total.js")
script(src="/js/user/qter/qut/detail.js")