.row
	.col-12 品牌管理系统
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnBrands")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 品牌
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnPdfirs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 系列
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnPdsecs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 线稿图
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnAlbums")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 图册
.row
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnStrmups")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 供应商
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnBuyBrands")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 品牌折扣
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/bnBuys")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 供应商折扣