.row
	.col-12 品牌资源
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/ctBrands")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 品牌
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/ctPdfirs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 系列
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/ctPdsecs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 线稿图
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/ctAlbums")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 产品图册