.row
	.col-12 财务管理系统
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/fnDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 销售财务
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/fnDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 采购财务
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/fnTrans")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 运输财务
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/fnBills")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 财务流水