.row
	.col-12 订单管理系统
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/odQuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 报价单管理
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/odDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 销售单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/odDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 采购单