.row
	.col-12 资源报价部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/sfQuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 报价单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/sfDins")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 订单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/sfDuts")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 采购单