extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/slDin/"+dinpd.inquot._id) 所属订单
				li.breadcrumb-item.active(aria-current="page") 销售产品详情
		.info
			- let din = dinpd.inquot;
			- let nomeBg = 'bg-default';
			if dinpd.status == Conf.status.done.num
				- nomeBg = 'bg-success';
			else if dinpd.status == Conf.status.del.num
				- nomeBg = 'bg-danger';
			- let status = '';
			each sts in Conf.status
				- status = '';
				if sts.num == dinpd.status
					- status = sts.val;
					- break;
			.row.py-2.mt-2.text-center.border.dinpdCard
				.col-4.col-md-2.mt-2
					if dinpd.brand
						- brand = dinpd.brand;
						div [#{brand.nome}]
					else
						.text-muted #{dinpd.brandNome}
				.col-4.col-md-2.mt-2
					if dinpd.pdfir
						- pdfir = dinpd.pdfir;
						div [#{pdfir.code}]
						a(href=pdfir.photo, target="_blank")
							img(src=pdfir.photo, width="100%")
					else
						div 数据丢失
				.col-4.col-md-2.mt-2
					if dinpd.pdsec
						- pdsec = dinpd.pdsec;
						div [#{pdsec.code}]
						div [#{pdsec.spec}]
						a(href=pdsec.photo, target="_blank")
							img(src=pdsec.photo, width="100%")
					else
						div 数据丢失
				.col-4.col-md-2.mt-2
					if dinpd.pdthd
						- pdthd = dinpd.pdthd;
						div [#{pdthd.code}]
						each mater in dinpd.pdthd.maters
							-a;
							.text-dark.mt-2 #{mater}
					else
						div 数据丢失
				.col-4.col-md-2.mt-2
					-let compd = dinpd;
					.quant 数量: #{compd.quant}

					if compd.price
						- price = compd.price;
						.price 报价单价: #{compd.price}
					else
						.price.text-warning  未报价
					- let total = compd.quant * compd.price;
					if !isNaN(total)
						- total;
						.total.text-info 报价总价: #{total}
					.dinPr.mt-3
					if compd.dinPr
						-a;
						span 销售单价 #{compd.price} 
					else
						span.text-warning 还未填写售价
				.col-4.col-md-2.mt-2
					div 货物状态
