- let quantTotal = 0;
- let qntPrImp = dinPrImp = 0;
.row
	.col-md-6
		.quantTotal
			span 总条目: 
			span #{compds.length}
	.col-md-3.text-right
		button.btn.btn-link.qntPrTdBtn(type="button") <span class="oi oi-eye"></span>
	.col-md-3.text-right
		.quantTotal
			span 总数量: 
			span#span-quantTotal
table.mt-3.table.table-bordered
	thead.thead-light
		th 品牌
		th 系列
		th 产品规格
		th(style="width:18%") 材质面料描述
		th 材质面料图片
		th.qntPrTd(style="width:10%; display:") 平台报价
		th(style="width:14%") 客户成交价
	thead
		tr
			td.text-right(colspan=5) 总价值:
			td.qntPrTd.bg-dark.text-white(style="display:")
				h5
					span#span-qntPrImp
					span &nbsp;€
			td
				h5.text-info
					span#span-dinPrImp
					span &nbsp;€
		- let len = 0;
		each compd in compds
			- len++;
			- let brandnum = '';
			each brand in brands
				if brand.brandNome == compd.brandNome
					- brandnum = brand.num;
			tr.text-info.pdTr(pdbrand=brandnum, pdSts=compd.qntpdSts, id="tr-compdid-"+compd._id)
				td
					.qntnumAjax
						- action = "/slQunpdUpdAjax";
						include ../../../../aaPlugin/compd/ajax/qntnumAjax
					.brandFixed.mt-3
						include ../../../../aaPlugin/compd/basic/brandFixed

					if compd.area
						-a;
						.pdarea.mt-3
							span.text-dark 区域: 
							span #{compd.area}
				td
					.pdnome
						span.text-dark 品类: 
						span #{compd.pdNome}
					.pdfirFixed.mt-3
						include ../../../../aaPlugin/compd/basic/pdfirFixed
					.photoUpd.mt-2
						- reUrl = "/slQun/";
						include ../../../../aaPlugin/compd/upd/photoUpd
				td
					.pdsecFixed
						include ../../../../aaPlugin/compd/basic/pdsecFixed

					.sketchUpd.mt-3
						- reUrl = "/slQun/";
						include ../../../../aaPlugin/compd/upd/sketchUpd
				td
					.pdthdout
						include ../../../../aaPlugin/compd/basic/pdthdout
					.thdDespAjax
						- action = "/slQunpdUpdAjax";
						include ../../../../aaPlugin/compd/ajax/thdDespAjax
					.noteFixed.mt-3
						include ../../../../aaPlugin/compd/basic/noteFixed
				td
					.imagesUpd
						- reUrl = "/slQun/";
						include ../../../../aaPlugin/compd/upd/imagesUpd
				td.qntPrTd.bg-dark(style="display:")
					if compd.qntpdSts != Conf.status.del.num
						- let qntPrtot = compd.quant * compd.qntPr;
						- qntPrImp += qntPrtot;
						.qntPr.mt-3.text-white
							.qntPr
								span 单价:
								br
								span #{(compd.qntPr).toFixed(2)}
								input(id="org-qntPr-"+compd._id, type="hidden", value=compd.qntPr)
							.qntPrTot.mt-3
								span 总价:
								br
								span(id="span-qntPrtot-"+compd._id) #{qntPrtot.toFixed(2)}
				td
					if compd.qntpdSts != Conf.status.del.num
						- quantTotal += compd.quant;
						if !isNaN(parseFloat(dinPrImp))
							-a;
							if compd.dinPr && !isNaN(parseFloat(compd.dinPr))
								- dinPrImp += compd.quant * compd.dinPr;
							else
								- dinPrImp = "未完成销售价";
						.quant
							if inquot.status == Conf.status.confirm.num
								- action = "/slQunpdUpdAjax";
								include ../../../../aaPlugin/compd/ajax/quantAjax
							else
								span.text-dark 数量: 
								span #{compd.quant}


						.dinPrAjax.mt-3
							if inquot.status == Conf.status.confirm.num
								-a;
								- action = "/slQunpdUpdAjax";
								include ../../../../aaPlugin/compd/ajax/dinPrAjax

							else
								span.text-dark 单价: 
								if compd.dinPr
									-a;
									span #{(compd.dinPr).toFixed(2)}
								else
									span 售价填写错误
						.dinPrtot
							strong
								span.text-dark 总价: 
								span(id="span-dinPrtot-"+compd._id) #{(compd.quant * compd.dinPr).toFixed(2)}
					else
						.del.text-danger
							div.text-center 删除原因:
							.delNote.mt-2 #{compd.delNote}
.hideImp
	input#ipt-quantTotal(type="hidden", value=quantTotal)
	input#ipt-qntPrImp(type="hidden", value=qntPrImp)
	input#ipt-dinPrImp(type="hidden", value=dinPrImp)