.border.border-dark.mt-2.p-3
	.row
		.col-6 总价值: #{(din.dinImp).toFixed(2)}
		.col-6 已收款: #{(din.billPr).toFixed(2)}
	.row
		.col-6
			h5.code 收款信息:
		.col-6.text-right
			button.btn.btn-warning#billAddPageShow(type="button") + 收款账单
	//- 添加产品
	#billAddPage.border.border-dark(style="display:none")
		form#billForm(method="post", action="/fnBillNew", enctype="multipart/form-data")
			input(type="hidden", name="obj[ordin]", value=din._id)
			input(type="hidden", name="obj[genre]", value=1)

			.row.my-3
				.col-md-2.mt-3.text-right 金额:
				.col-md-2.mt-3
					input.form-control#billPrIpt(type="text", name="obj[billPr]", autocomplete="off", placeholder="收到金额")
			.row.my-3
				.col-md-2.mt-3.text-right 备注:
				.col-md-10.mt-3
					input.form-control#noteIpt(type="text", name="obj[note]", autocomplete="off", placeholder="收款备注")


			.form-group.row
				.col-12.text-right
					button.border.border-danger.mr-4.btn.btn-default.text-danger#billsPageShow(type="button") 取消
					input.btn.btn-success(type="submit", value="确认添加")
	each bill in din.bills
		-a;
		.row.mt-3
			.col-3 收款时间 #{moment(bill.crtAt).format("YYYY年MM月DD日")}
			.col-3 收款金额 #{(bill.billPr).toFixed(2)}
			.col-4 #{bill.note}
			//- .col-2.text-right.billDel(style="display:none")
			.col-2.text-right.billDel
				a.btn.btn-danger(href="/fnBillDel/"+bill._id) 删除

script(src="/js/dbs/bill/fromEdit.js")